<div class="row">

    <div class="col-md-6">
        <div class="form-group">
            {{ form.type.label }}
            {{ form.type(class="form-control") }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            {{ form.tag.label }}
            {{ form.tag(class="form-control") }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.text.label }}
            {{ form.text(class="form-control") }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.title.label }}
            {{ form.title(class="form-control") }}
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-group">
            {{ form.automatic.label }}
            {{ form.automatic(class="form-control") }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            {{ form.hasImage.label }}
            {{ form.hasImage() }}
        </div>
    </div>
    
    <div class="col-md-6">
        <div class="form-group">
            {{ form.fromDate.label }}
            {{ form.fromDate(class="datepicker") }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.toDate.label }}
            {{ form.toDate(class="datepicker") }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            {{ form.fromWebDate.label }}
            {{ form.fromWebDate(class="datepicker") }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.toWebDate.label }}
            {{ form.toWebDate(class="datepicker") }}
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
     
        </div>
    </div>  

    {{ form.csrf_token }}

</div>