<div class="row">
    <div class="col-md-6">
        <div class="form-group">
            {{ form.applicationName.label }}
            {{ form.applicationName(class="form-control") }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.apiId.label }}
            {{ form.apiId(class="form-control") }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group">
            {{ form.apiHash.label }}
            {{ form.apiHash(class="form-control") }}
        </div>
    </div>
    {{ form.csrf_token }}
    {{ form.id() }}
</div>